{% extends 'base.html' %}

{% block importblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view_questionnaire.css') }}">
{% endblock %}

{% block mainblock %}
<div class="container-fluid px-5 pb-5">
    <div class="my-4">
        <div class="d-flex">
            <h3 class="my-4">Questionnaire:</h3>
        </div>
        <h5 class="mb-0 pb-0">Name:</h5>
        <input id="new_questionnaire_name" name="new_questionnaire_name" type="text" class="form-control my-3"
            placeholder="Name" aria-label="new questionnaire name" value="{{ questionnaire_name }}" disabled>
        <div class="d-flex my-3">
            <h5 class="">Tag Color:</h5>
            <i id="tag-color-square" class='bx bxs-square-rounded ms-3'
                style="color: rgb({{tag_color[0]}}, {{tag_color[1]}}, {{tag_color[2]}});"></i>
        </div>
        <h5>Description:</h5>
        <textarea class="form-control" placeholder="Description" id="floatingTextarea" disabled>{{description}}</textarea>

        <table class="table mt-4">
            <thead>
                <th style="width: 4%;">#</th>
                <th>Questions <span style="font-weight: 100;"></span></th>
            </thead>
            <tbody id="questionnaire">
                {% for q in questions %}
                <tr>
                    <td>{{q['#'] + 1}}</td>
                    <td>
                        {{ q['question'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}